.color{
    width: 30px;
    height: 30px;
    background: none;
    border-radius: 50%;
  border: none;
    margin-right: 12px;
    cursor: pointer;
    transition: all 0.5s ease;
 
}
.color-black{
    background-color: #242424;
}
.color-red{
    background-color: #ff0000;
}

.color:hover{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}
/* .active-color{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
} */
/* .color-groups{
    padding: 1rem 0;
    display: flex;
} */

.dropdown{
    /* background-color: white; */
    min-width: 10vw;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
}

.carousel-caption {
 
    right: 3% !important;
   
    left: 3% !important;
   
    
}