/* // Small devices (landscape phones, 576px and up) */


@media (min-width: 476px) {
    .about-us-text{
        font-size: .9rem !important;
        padding: 0 1rem !important;
    }
 }

@media (min-width: 576px) {
    .about-us-text{
        font-size: 1rem !important;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .about-us-text{
        font-size: 1rem !important;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }